
<h2>Update the Cat's Details!</h2>

<%= render 'form', cat: @cat, action: :edit %>

<!-- <form action="<%= cats_url %>" name="" method="post">
    <input type="hidden" name="_method" value="patch">
    <label> Birthdate:
        <input type="date" name="cat[birth_date]" id="birth_date" value="<%= @cat.birth_date %>">
    </label>
    <br>
    <label> Color:
        <select name="cat[color]" id="color">
            <option disabled>--Please Select--</option>
            <option value="rainbow" <%= @cat.color == "rainbow" ? "selected" : ""%> >rainbow</option>
            <option value="magenta" <%= @cat.color == "magenta" ? "selected" : ""%> >magenta</option>
            <option value="sapphire" <%= @cat.color == "sapphire" ? "selected" : ""%> >sapphire</option>
            <option value="blue" <%= @cat.color == "blue" ? "selected" : ""%> >blue</option>
            <option value="azure" <%= @cat.color == "azure" ? "selected" : ""%> >azure</option>
            <option value="seafoam green" <%= @cat.color == "seafoam green" ? "selected" : ""%> >seafoam green</option>
            <option value="red" <%= @cat.color == "red" ? "selected" : ""%> >red</option>
            <option value="opal" <%= @cat.color == "opal" ? "selected" : ""%> >opal</option>
            <option value="yellow" <%= @cat.color == "yellow" ? "selected" : ""%> >yellow</option>
        </select>
    </label>
    <br>
    <label> Sex:
        <input type="radio" name="cat[sex]" id="sex" value="<%= @cat.sex %>" <%= @cat.sex == "M" ? "checked" : ""%>>
            <label for="male">M</label>
        <input type="radio" name="cat[sex]" id="sex" value="<%= @cat.sex %>" <%= @cat.sex == "F" ? "checked" : ""%> >
            <label for="female">F</label>
    </label>
    <br>
    <label> Name:
        <input type="text" name="cat[name]" id="name" value="<%= @cat.name %>">
    </label>
    <br>
    <label> Description:
        <input type="textarea" name="cat[description]" id="description" value="<%= @cat.description %>">
    </label>
    <br>
    <input type="submit" value="Edit Cat Info">
</form> -->
