<% if action == :show %>
    <a href="<%= cats_url %>">Cat Index</a>
<% else %>
    <a href="<%= cat_url(cat) %>">Cat's Page</a>
<% end %>

<!-- <a href="<% cat_url(cat.id) %>">Cat's Chicken Show Page</a> -->

<table>
    <thead>
        <tr>
            <th colspan="4"><%=cat.name%></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td><h3><%= cat.name %></h3></td> -->
            <td><%= cat.color %></td>
            <td><%= cat.sex %></td>
            <td><%= cat.birth_date %></td>
            <td id="desc"><%= cat.description %></td>
        </tr>
    </tbody>
</table>